<div class="block block-bordered" [class.block-opt-refresh]="isBusy" *ngFor="let detail of wordDetails">
    <div class="block-header bg-gray-lighter">
            <ul class="block-options">
                <li>
                    <button type="button" title="{{'ACTIONS.DELETE'|translate}}" *ngIf="detail.deleteLink" [swal]="{title :translate.instant('WORDDETAIL.ACTIONS.DELETE'), 
                        text : translate.instant('WORDDETAIL.ACTIONS.DELETE_MESSAGE'),
                        type : 'warning',
                        confirmButtonText : translate.instant('ACTIONS.YES'),
                        cancelButtonText : translate.instant('ACTIONS.NO'),
                        confirmButtonColor: '#d26a5c',
                        html: false,
                        allowOutsideClick : false,
                        showCancelButton: true}" (confirm)="deleteDetail(detail)">
                        <i class="si si-trash text-danger"></i>
                    </button>
                </li>
                <li>
                        <button type="button" title="{{'ACTIONS.EDIT'|translate}}" *ngIf="detail.updateLink" (click)="editDetail(detail)">
                            <i class="si si-note"></i>
                        </button>
                </li>
            </ul>
            <h3 class="block-title">{{detail.attributes}} - {{detail.language}}</h3>
    </div>
    <div class="block-content block-content-full">
        <word-meanings *ngIf="detail" [wordDetailId]="detail.id" [meaningsLink]="detail.meaningsLink" [createLink]="detail.createMeaningLink">
        </word-meanings>
        <word-translations [wordDetailId]="detail.id" [translationsLink]="detail.translationsLink" [createLink]="detail.createTranslationLink"></word-translations>
    </div>
</div>
<button class="btn btn-block btn-default push-10" (click)="addDetail()" *ngIf="createLink"> 
    <i class="fa fa-plus"></i>
    {{'WORDDETAIL.ACTIONS.ADDDETAIL'|translate}}
</button>

<edit-wordDetail [modalId]="'edit-wordDetail'" [createLink]="createLink" [visible]="showEditDialog" [wordDetail]="selectedDetail"
    (onClosed)="onEditClosed($event)"></edit-wordDetail>