<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                {{ 'SETTINGS.TITLE' | translate}}
                <small>{{ 'SETTINGS.SUB_TITLE' | translate}}</small>
            </h1>
        </div>
    </div>
</div>

<div class="content">
    <div class="content-heading">{{ 'SETTINGS.USER_INTERFACE_LANGUAGES' | translate}}</div>
</div>
<div class="content bg-white">
    <div class="row items-push text-center">
        <div class="col-xs-6 col-sm-6 col-lg-2" *ngFor="let lang of translate.getLangs()">
            <label class="css-input css-radio css-radio-lg css-radio-primary push-10-r">
                <input type="radio" name="radio-lang" [checked]="lang === translate.currentLang" (click)="setLanguage(lang)">
                <span></span> {{lang}}
            </label>
        </div>
    </div>
</div>

<div class="content">
    <div class="content-heading">{{ 'SETTINGS.OFFLINE' | translate}}</div>
</div>
<div class="content bg-white">
    <div class="row items-push text-center">
        <div col-xs-6 col-sm-6 col-lg-2>
            <label class="css-input switch switch-success">
                <input type="checkbox" [checked]="isOffline === true" (change)="setOffline($event.target.checked)">
                <span></span> {{'SETTINGS.OFFLINE' | translate}}
            </label>
        </div>
    </div>
</div>

<div class="content">
    <div class="content-heading">{{'SETTINGS.COLOR_THEMES' | translate}}</div>
</div>
<div class="content bg-white">
    <div class="row items-push text-center">
        <div class="col-xs-6 col-sm-6 col-lg-2">
            <a class="item item-circle bg-default text-white-op center-block" data-toggle="theme" data-theme="default" href="javascript:void(0)">
                <i class="si si-drop"></i>
            </a>
            <div class="push-10-t font-w600">Default</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-2">
            <a class="item item-circle bg-amethyst text-white-op center-block" data-toggle="theme" data-theme="assets/css/themes/amethyst.min.css"
                href="javascript:void(0)">
                <i class="si si-drop"></i>
            </a>
            <div class="push-10-t font-w600">Amethyst</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-2">
            <a class="item item-circle bg-city text-white-op center-block" data-toggle="theme" data-theme="assets/css/themes/city.min.css"
                href="javascript:void(0)">
                <i class="si si-drop"></i>
            </a>
            <div class="push-10-t font-w600">City</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-2">
            <a class="item item-circle bg-flat text-white-op center-block" data-toggle="theme" data-theme="assets/css/themes/flat.min.css"
                href="javascript:void(0)">
                <i class="si si-drop"></i>
            </a>
            <div class="push-10-t font-w600">Flat</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-2">
            <a class="item item-circle bg-modern text-white-op center-block" data-toggle="theme" data-theme="assets/css/themes/modern.min.css"
                href="javascript:void(0)">
                <i class="si si-drop"></i>
            </a>
            <div class="push-10-t font-w600">Modern</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-2">
            <a class="item item-circle bg-smooth text-white-op center-block" data-toggle="theme" data-theme="assets/css/themes/smooth.min.css"
                href="javascript:void(0)">
                <i class="si si-drop"></i>
            </a>
            <div class="push-10-t font-w600">Smooth</div>
        </div>
    </div>
</div>
<div class="content">
        


</div>